<h3 class="text-center">Drinks Favoritos</h3>
<div class="row text-center mt-4" id="favoritos">

</div>

<script>
    $(document).ready(function () {
        favorites();
    });

</script>

<script src="~/Scripts/drink.js"></script>